.contact#contact
    .contact__info
        h2 Our contacts
        p 28 Grange Rd, UK
        a(href='#').contact__text_padding-bottom oakheart@somemail.com
        a(href='#') +44 123 456 7890
    .contact__social
        h2.contact__social-heading We in Social Media
        .contact__social-container
            a(href='#')
                img(src="src/assets/socialIcons/facebook.svg" alt="Facebook" 
                onmouseover='this.src="src/assets/socialIcons/facebook-light.svg";' 
                onmouseout='this.src="src/assets/socialIcons/facebook.svg";')
            a(href='#')
                img(src="src/assets/socialIcons/instagram.svg" alt="Instagram"
                onmouseover='this.src="src/assets/socialIcons/instagram-light.svg";' 
                onmouseout='this.src="src/assets/socialIcons/instagram.svg";')
            a(href='#')
                img(src="src/assets/socialIcons/twitter.svg" alt="Twitter"
                onmouseover='this.src="src/assets/socialIcons/twitter-light.svg";' 
                onmouseout='this.src="src/assets/socialIcons/twitter.svg";')
